.home-main {
  padding: 4rem 0 0 0;
  /* background-color: blue; */
}
.home-parent {
  /* background-color: #f4f9fc; */
}
.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.left-container {
  margin: 0 10em 0 10em;
}
.left-heading {
  font-size: 7rem;
}
.left-para {
  font-size: 1.5rem;
}
.img {
  height: 20rem;
}
.section-heading {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0 0 0;
}
hr {
  border-top: 3px solid #73bbc5;
  outline: none;
  margin: 1rem 0;
}
.second-section {
  margin: 20em 10em 0 10em;
}
.hr-div {
  width: 7%;
  margin-left: 1rem;
}
.button1 {
  margin-top: 2rem;
  z-index: 3;
}
.first {
  padding: 5rem 0;
}
