.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1rem;
}
.nav-right {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  list-style: none;
  letter-spacing: 0.3em;
  margin-right: 5%;
}
.li {
  margin: 0 1rem 0 1rem;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
}
