@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.main-app {
  color: #0f1b61;
  /* background-color: #f4f9fc; */
  background-color: #f4f9fc;
  z-index: -10;
  margin: 1.5rem;
  min-height: 90vh;
}
.build {
  font-size: 1.5rem;
  padding: 2rem 0;
}
.section-heading2 {
  font-size: 4rem;
}
.first {
  display: flex;
  justify-content: space-between;
}
